
[submodule "client/GAMEConsole/include/cereal"]
	path = client/GAMEConsole/include/cereal
	url = https://github.com/USCiLab/cereal
[submodule "experiments/Micah/05SocketIO/SocketIO/include/socketio"]
	path = experiments/Micah/05SocketIO/SocketIO/include/socketio
	url = https://github.com/socketio/socket.io-client-cpp.git
